@model  List<MVC_TicariOtomasyon.Models.Entities.Product>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


@using(Html.BeginForm("ProductList","Product",FormMethod.Get))
            {
                <p>
                    ÜRÜN ADI:  @Html.TextBox("productName")
                    <input type="submit" value="Ara"/>
                </p>
            }
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Marka</th>
            <th>Stok</th>
            <th>Alış Fiyatı</th>
            <th>Satış Fiyatı</th>
            <th>Kategori</th>

            <th>Sil</th>
            <th>Güncelle</th>
            <th>Satış Yap</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Brand</td>
                <td>@item.Stock</td>
                <td>@item.BuyingPrice ₺</td>
                <td>@item.SalePrice ₺</td>
                <td>@item.Category.Name</td>
       
                <td><a href="/Admin/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Admin/Product/UpdateProduct/@item.ProductId" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Admin/Product/SalesProduct/@item.ProductId" class="btn btn-default" style="background-color:chartreuse">Satış Yap</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="/Admin/Product/CreateProduct/" class="btn btn-primary">Yeni Kategori Oluştur</a>

