
@{
    ViewBag.Title = "SimpleTables";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";

    int a = 0;
    int b = 0;
    int c = 0;
    int d = 0;
    int e = 0;


    var list = ViewBag.list;
    var list2 = ViewBag.list2;
    var list3 = ViewBag.list3;
    var list4 = ViewBag.list4;
    var list5 = ViewBag.list5;
    string musteriSehir = "";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> <b>Kategoriler </b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Kategori Adı</th>
                                    <th>Progress</th>
                                    <th style="width: 40px">Label</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Beyaz Eşya</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-warning" style="width: 55%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-warning">55%</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Küçük Ev Aletleri</td>
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar bg-warning" style="width: 70%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-warning">70%</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Bilgisayar</td>
                                    <td>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-primary" style="width: 30%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-primary">30%</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>küçük ev aletleri</td>
                                    <td>
                                        <div class="progress progress-xs progress-striped active">
                                            <div class="progress-bar bg-success" style="width: 90%"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge bg-success">90%</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> <b>Müşteri Şehir Sayısı </b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Şehir</th>
                                    <th>Progress</th>
                                    <th style="width: 40px">Adet</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in list)
                                {

                                    if (item.Count == 1)
                                    {
                                        musteriSehir = "bg-danger";
                                    }
                                    if (item.Count >= 2 && item.Count <= 5)
                                    {
                                        musteriSehir = "bg-warning";
                                    }
                                    if (item.Count >= 6)
                                    {
                                        musteriSehir = "bg-success";
                                    }
                                    a++;


                                    decimal degerW = 0;

                                    degerW = (item.Count * 100 / 10);
                                    <tr>
                                        <td>
                                            @a.
                                        </td>
                                        <td>@item.Key</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar @musteriSehir" style="width:@degerW% "></div>
                                            </div>
                                        </td>
                                        <td><span class="badge @musteriSehir">@item.Count</span></td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b>  Departman Personel Sayıları</b> </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-bordered">
                            <thead>

                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Departman</th>
                                    <th style="width: 40px">Kişi Sayısı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.list2)
                                {
                                    b++;
                                    <tr>
                                        <td>@b</td>
                                        <td>@item.Key</td>
                                        <td><span class="badge bg-danger">@item.Count</span></td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b> Marka Sayıları</b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Marka</th>
                                    <th>Progress</th>
                                    <th style="width: 40px">Sayı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in list5)
                                {
                                    e++;
                                    <tr>
                                        <td>@e</td>
                                        <td>@item.Key</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                            </div>
                                        </td>
                                        <td><span class="badge bg-danger">@item.Count</span></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> <b> Müşterilerimiz</b></h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Müşteri Adı Soyadı</th>
                                    <th>Şehir</th>
                                    <th>Durum</th>
                                    <th>Mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.list3)
                                {
                                    c++;
                                    <tr>
                                        <td>@c</td>
                                        <td>@item.Name @item.Surname</td>
                                        <td>@item.City</td>
                                        <td><span class="tag tag-success">@item.Status</span></td>
                                        <td>@item.Mail</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><b> Ürünler </b> </h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ürün Adı</th>
                                    <th>Marka</th>
                                    <th>Stok</th>
                                    <th>Alış Fiyatı</th>
                                    <th>Satış Fiyatı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.list4)
                                {
                                    d++;
                                    <tr>
                                        <td>@d</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.Brand</td>
                                        <td>@item.Stock</td>
                                        <td><span class="tag tag-success">@item.BuyingPrice</span></td>
                                        <td>@item.SalePrice</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

