@model List<MVC_TicariOtomasyon.Models.Entities.Invoice>
@{
    ViewBag.Title = "InvoiceList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Seri Sıra No </th>
            <th>Vergi Dairesi</th>
            <th>Saat</th>
            <th>Tarih</th>
            <th>Toplam</th>
            <th>Teslim Eden</th>
            <th>Teslim Alan</th>

            
            <th>İşlemler</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {         
            <tr>
                <td>@item.InvoiceSerialNo @item.InvoiceSequenceNo</td>            
                <td>@item.TaxOffice</td>
                <td>@item.Hour</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Toplam</td>
                <td>@item.DelivereredBy</td>
                <td>@item.ReceivedBy</td>
               
                <td>
                    <a href="/Admin/Invoice/UpdateInvoice/@item.InvoiceId" class="btn btn-default" style="background-color:lightgoldenrodyellow">Güncelle</a>
                    <a href="/Admin/Invoice/DetailInvoice/@item.InvoiceId" class="btn btn-default" style="background-color:greenyellow">Detaylar</a>             
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="/Admin/Invoice/CreateInvoice/" class="btn btn-primary">Yeni Fatura Girişi</a>
<br />
<br />
<button type="button"class="btn btn-warning" data-toggle="modal" data-target="#modal1" >Popup penceresi</button>

<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup Diyalog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Seri Sıra no</th>
                        <th>Tutar</th>
                    </tr>
                    @foreach(var item in Model)
            {
                <tr>
                    <td> @item.InvoiceSerialNo @item.InvoiceSequenceNo</td>
                    <td> @item.Toplam</td>
                </tr>
            }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Kapat </button>
            </div>
        </div>
    </div>
</div>



