@model List<MVC_TicariOtomasyon.Models.Entities.SalesMovement>
@{
    ViewBag.Title = "SalesMovementList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<table id="tbl1" class="table table-bordered table-striped">

    <thead>
        <tr>
            <th style="width: 10px">#</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Satış Fiyatı</th>
            <th>Toplam Fiyat</th>

            <th>Ürünü Satın Alan</th>
            <th>Satışı Yapan</th>
            <th>Tarih</th>

            <th>İşlemler</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Product.ProductName</td>
                <td>@item.Piece</td>
                <td>@item.Price</td>
                <td>@item.Amount</td>

                <td>@item.Customer.Name @item.Customer.Surname</td>
                <td>@item.Employee.Name @item.Employee.Surname</td>
                <td>@item.Date.ToShortDateString() </td>

                <td>
                    <a href="/Admin/SalesMovement/UpdateSalesMovement/@item.SalesMovementId" class="btn btn-default" style="background-color:lightgoldenrodyellow">Güncelle</a>
                    <a href="/Admin/SalesMovement/DetailSalesMovement/@item.SalesMovementId" class="btn btn-default" style="background-color:greenyellow">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="/Admin/SalesMovement/CreateSalesMovement" class="btn btn-primary">Yeni Satış Yap</a>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>


