@model MVC_TicariOtomasyon.Models.Entities.CargoDetail
@{
    ViewBag.Title = "NewCargoAdd";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post">

    @Html.HiddenFor(x => x.CargoDetailId)

    <label>Kargo Takip Kodu</label>
    <input type="text" class="form-control" name="TrackingCode" value="@ViewBag.trackingCode" readonly/>
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 3, 1, new { @class = "form-control" })
    <br />
    <label>Personel Adı</label>
    @Html.TextBoxFor(x => x.Personel, new { @class = "form-control" })
    <br />
    <label>Alıcı</label>
    @Html.TextBoxFor(x => x.Alıcı, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control", type = "date" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>


